h1
	title= title
form(action="/save", method="post", accept-charset="utf-8")
	ul.list-profile
		li.list-item
			label 内容：
			input(type="text", name="content")
		li.list-item
			label 用户id:
			input(type="text", name="userid")
		li.list-item.submit
			input(type="submit", value="提交")
	
	